//Color Scheme

//first
$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//second
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//third
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;


//Font Family

$playfair:'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Font sizes

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


//Font Weight

$font-light: 300;
$font-regular: 400;
$font-black: 900;

//Font-style

$italic: italic;

//pagination borders
$border-radius: 1.25rem;

//Breakpoints


// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

//breakpoints

$pocket: 420px;
$portable: 720px;
$desktop: 960px;

