main{
    padding: 4rem 0;
}

.main-post{
    color: $nickel;
    font-size: $medium;
}

.main-post__title{
    font-weight: $font-regular;
    font-family: $playfair;
    padding: 1.5rem 0;
}

.main-post__text{
    font-family: $roboto;
    line-height: 3rem;
    & p{
        margin: 2.5rem 0;
    }
}

.main-post__buttons{
    padding-left: 0;
}



