.navbar-barber{
   background-color: $eerie-black;
   color: $white;
   padding: 0.8rem 5rem;    
   height: 6rem;
   & a{
      color: $white;
      &:hover{
      color: $nickel;
      }
   }
}
.navbar-nav {
   display: flex;
   flex-direction: column;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
   justify-content: center;
}

.navbar-collapse{
   margin-top: 2rem;
   display: flex;
   text-align: center;
   font-size: $large;
}

.navbar-brand{
   justify-content: space-between;
   padding: 0;
   & img{
      width: 6rem;
   }
}

.navbar-toggler{
   &:focus{
      box-shadow: none;
   }
   &-icon{
   color: $white;
   font-size: 2rem;
   }
}


@media (max-width: $portable){
   .navbar-barber{
      height: 7rem;
   }

   .navbar-brand{
      width: auto;
      display: inline-flex;
      padding: 0;
      & img{
         width: 7rem;
      }
   }
}