.navbar-barber{
    background-color: $eerie-black;
    color: $white;
    padding: 0.8rem 5rem;    
}

.navbar-brand{
    padding: auto;
    & img{
        width: 6rem;
    }
}

.navbar-barber{
    & a{
        color: $white;
        &:hover{
        color: $nickel;
        }
    }
}
